.jumbotron {
    background-color: navy;
    border-radius: 5px;
    width: 98%;
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.fa-newspaper {
    color: white;
}

h1 {
    color: white;
    background-color: navy;
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
}

.card {
    width: 98%;
    max-width: 2000px;
    margin: 2rem auto;
}

.card-header {
    font-weight: bold;
}
