.jumbotron {
    background-color: #21325a;
    border-radius: 5px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.fa-newspaper {
    color: white;
}

h1 {
    color: white;
    background-color: #21325a;
    font-size: 2.75rem;
    font-weight: 600;
    display: inline-block;
}

.card {
    width: 85%;
    max-width: 2000px;
    margin: 2rem auto;
}

.card-header {
    font-weight: bold;
}

.blockquote {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}

.article-title {
    display: inline;
}

.blockquote-footer {
    margin: 0.25rem 0 0.75rem 0;
}

.article-anchor {
    color: black;
}

.section-name {
    margin: 0;
    font-size: 1rem;
}

blockquote span {
    background-color: #21325a;
    color: white;
    font-weight: bold;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}
